<!DOCTYPE html>
<html>
<head>
<div style="text-align: center;">
	<span style="font-family: avenir color: DodgerBlue; font-size: large; ">
			<h1>SAVE SUCCESSFUL</h1><br>
			<h2>Following Food details has been sent to us </h2><br>
			<h2>{{ name }}</h2><br>
			<title>Donar Output</title>
				<form action="/" autocomplete="on" method = "GET">

					<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; ">GO BACK</button><br><br>

				</form>
        </span>
</div>
</head>
<body>

</body>
</html>
</title>
</head>
<body>

</body>
</html>
