<!DOCTYPE html>
<html>
<head>
	<title>Donar Information</title>
</head>
<div style="text-align: center;">
	<span style="font-family: avenir ;color: black; font-size: large; ">

		<h1 style="color: DodgerBlue">Restaurant or Donar Information</h1>

		<body bgcolor="lightgrey">

			<form method="get">

				<div>

			  		Donar Name:<br> {{ name }} <br><br>

			  		Email:<br> {{ email }} <br><br>

			  		Location:<br> {{ address }} <br><br>

			  		Cell Phone:<br> {{ cell }} <br><br>

			  		aWaste:<br> {{ awaste }} <br><br>

			  		bWaste: <br> {{ bwaste }} <br><br>

                    cWaste: <br> {{ cwaste }} <br><br>

                    dWaste: <br> {{ dwaste }} <br><br>

                    suggestion: <br> {{ suggestion }} <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; " formaction="http://127.0.0.1:5000/">RESET</button><br><br>

			  	</div>

			</form>

		</body>

	</span>
</div>
</html>
